<footer id="sticky-footer" class="py-1 bg-dark text-white-50 mt-5">
    <div class="container text-center">
        <h3>
            <b class="rose">EAT</b> <b class="crepes">CRÊPES</b>
            &nbsp;&nbsp;&nbsp;&nbsp;
            67 Avenue Jean Jaurès <b class="rose">51100</b> <b class="crepes">Reims</b>
        </h3>
    </div>
</footer>